# Server Settings
PORT=5000

# Database Settings
# Replace with your local or MongoDB Atlas connection string to connect to a real database
MONGODB_URI=mongodb://127.0.0.1:27017/providence_ecommerce

# Security Settings
JWT_SECRET=providence_secret_key_123
